

 .booking-filters-title small {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: 10px;
    float: right;
    line-height: 1.3em;
    color: #ccc;
}
/****** filter css start here *****/
	.rslt_mn{
		width:100%;
		float:left;
		border:solid 1px #ccc;
		margin-bottom:15px;
		padding:10px;      
	}
	.rst_img{
		width:100%;
		float:left;  
	}
	.rst_img img{
	width:100%; 	
	}
	.price{

	    font-size: 30px;
	    color: #626262;
	    line-height: 1em;
	    display: block;
	    margin-bottom: 12px;

	}
    
	.flter_mn{
	width:100%;
	float:left; 
	border:solid 1px #262626; 
    background:#4d4d4d; 
    border-radius:6px;  
	}
	.flter_in{
	width:100%;
	float:left; 
	padding:10px; 	
	}
	/*.btn{
		background:#223e91; 
		border-color: #223e91;
	}*/
	.range {
	    width: 100%;
	}

    .fltr_search{
    width:100%; 
}
h3.fltr_til{
/*background:#223e91;*/
color:#fff;
padding:15px 10px;
font-weight: 400;
border-bottom:solid 1px #3b3b3b;  


}
.flter_mn h4{
color:#fff;
font-weight:400; 
padding:5px 0px;
font-size:22px; 
} 
.facilty{
    width:100%;
    float:left;
    padding-bottom:15px;
    border-bottom:solid 1px #666;     
}

	/******** check box ***********/

.chk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size:12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height:25px;
    color:#fff;  
}

/* Hide the browser's default checkbox */
.chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
  /*  background-color: #fff;*/
    border:solid 1px #fff; 
}

/* On mouse-over, add a grey background color */
.chk:hover input ~ .checkmark {
    background-color: #DC2D2D;
}

/* When the checkbox is checked, add a blue background */
.chk input:checked ~ .checkmark {
    background-color: #DC2D2D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chk input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chk .checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


	/******** check box end *********/


	/****** range slider start here ************/

/*.ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: -14px;
    background-color: #af2020 !important;
    z-index: 3;
    border-radius: 16px;
}
*/
.ng5-slider-bubble span {
 color:#fff !important; 
}
.pricerange span {
    color: #fff !important;
}
	/***** range slider end her **********/


	/****** sorting strat here **********/
    .sort{
    width:100%;
    float:left; 
    margin-bottom:10px;   	
    }
    .sort ul{
    margin:0px;
    padding:0px;  
    list-style:none;

    }
    .sort ul li{
    margin:0px;
    color:#fff;
    font-size:14px;
    padding:7px 11px;  
    float:left;
    background:#223e91;
    border-right:solid 2px #fff; 
     cursor:pointer; 
     width:33.33%;     	
    }
     .sort ul li:last-child{
     	border-right:none;
     	float:right;   
     }

	/******  sorting end here ********/
/******** filter css end here ********/
 .ng5-slider-pointerD::after {
     content: '';
     width: 8px;
     height: 8px;
     position: absolute;
     top: 12px;
     left: 12px;
     border-radius: 4px;
     background: #fff;
 }

span.rst{
    font-size:14px;
    float: right; 
}
