<app-header></app-header>
<div class="dashboard">
    <div class="container">
        <div class="col-md-3">
            <app-b2bsidebar></app-b2bsidebar>
        </div>
        <div class="col-md-9">
            <div role="tabpanel" class="tab-pane" id="tab6">
                <div class="tbnew">
                    <h1>Password Settings</h1>
                    <div class="col-md-6">
                        <form [formGroup]="paswdForm">
                            <!--  <h4>Password Infomation</h4> -->
                            <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon"></i>
                                <label>E-mail</label>
                                <input class="form-control" type="text" formControlName="email" readonly>
                            </div>

                            <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon"></i>
                                <label>Current Password *</label>
                                <input placeholder="Current Password" formControlName="cpswd" autocomplete="off"
                                       class="form-control" type="password" #cpswd>
                                <div *ngIf="paswdForm.controls['cpswd'].invalid && (paswdForm.controls['cpswd'].dirty || paswdForm.controls['cpswd'].touched)"
                                     class="text-danger">
                                    <div *ngIf="paswdForm.controls['cpswd'].errors.required">
                                        Current Password is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon"></i>
                                <label>New password *</label>
                                <input placeholder="New Password" class="form-control" type="password"
                                       autocomplete="off"
                                       formControlName="npswd" #npswd>
                                <div *ngIf="paswdForm.controls['npswd'].invalid && (paswdForm.controls['npswd'].dirty || paswdForm.controls['npswd'].touched)"
                                     class="text-danger">
                                    <div *ngIf="paswdForm.controls['npswd'].errors.required">
                                        New Password is required.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-icon-left"><i class="fa fa-phone input-icon"></i>
                                <label>Retype Password *</label>
                                <input placeholder="Confirm Password" class="form-control" type="password"
                                       autocomplete="off"
                                       formControlName="rpswd" #rpswd>
                                <div *ngIf="paswdForm.controls['rpswd'].invalid && (paswdForm.controls['rpswd'].dirty || paswdForm.controls['rpswd'].touched)"
                                     class="text-danger">
                                    <div *ngIf="paswdForm.controls['rpswd'].errors.required">
                                        Repeat Password is required.
                                    </div>
                                </div>
                            </div>

                            <button class="bt_n" (click)="resetPasword(cpswd.value, npswd.value, rpswd.value)"
                                    [disabled]="paswdForm.pristine || paswdForm.invalid || !disableBtn">Update Password
                            </button>

                            <div class="gap gap-small"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
