<div class="slide">
    <div class="userpfl">
       <!--  <div class="logo"><img src="assets/img/logo.png"></div> -->
        <h6>Flyantalya</h6>
    </div>
    <div class="clearfix"></div>
    <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
        <li role="presentation" class="brand-nav">
            <a routerLink="/b2bdashboard" [routerLinkActive]="'active'">
                <i class="fa fa-user"></i>Dashboard</a>
            </li>
            <li role="presentation" class="brand-nav">
                <a routerLink="/b2b-profile" [routerLinkActive]="'active'"><i class="fa fa-cog"></i>Profile Settings</a>
            </li>
            <li role="presentation" class="brand-nav">
                <a routerLink="/subagent" [routerLinkActive]="'active'">
                    <i class="fa fa-share-square"></i>Sub Agent</a>
                </li>
                <li role="presentation" class="brand-nav">
                    <a routerLink="/subagentdeposit" [routerLinkActive]="'active'">
                        <i class="fa fa-share-square"></i>Sub Agent Deposit</a>
                    </li>
                    <li role="presentation" class="brand-nav">
                        <a routerLink="/b2b-deposit-management" [routerLinkActive]="'active'">
                            <i class="fa fa-share-square"></i>Deposit</a>
                        </li>
                        <li role="presentation" class="brand-nav">
                            <a routerLink="/accountsledger" [routerLinkActive]="'active'">
                                <i class="fa fa-address-card-o"></i>Accounts Ledger</a>
                            </li>
                            <li role="presentation" class="brand-nav">
                                <a routerLink="/financilreporting" [routerLinkActive]="'active'">
                                    <i class="fa fa-address-card-o"></i>Financial Repoting</a>
                                </li>
                                <li role="presentation" class="brand-nav">
                                    <a routerLink="/markup" [routerLinkActive]="'active'">
                                        <i class="fa fa-address-card-o"></i>Markup</a>
                                    </li>

                                    <li role="presentation" class="brand-nav">
                                        <a routerLink="/bookinghistory" [routerLinkActive]="'active'">
                                            <i class="fa fa-shopping-cart"></i>Booking History</a>
                                        </li>
                                        <li role="presentation" class="brand-nav">
                                            <a routerLink="/passwordsettings" [routerLinkActive]="'active'">
                                                <i class="fa fa-wrench"></i>Password Settings</a>
                                            </li>
                                            <li role="presentation" class="brand-nav">
                                                <a routerLink="/supportticket" [routerLinkActive]="'active'">
                                                    <i class="fa fa-weixin"></i>Support Ticket</a>
                                                </li>
                                                <li role="presentation" class="brand-nav">
                                                    <a routerLink="/newsletter" [routerLinkActive]="'active'">
                                                        <i class="fa fa-thumbs-up"></i>Newsletter</a>
                                                    </li>
                                                </ul>
                                            </div>
