<app-header></app-header>
<div class="bnr">

<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>


<div class="bnt">
    <div class="blr">
        <div class="container">
            <div class="full-cntr">
                <div class="full-cntr-pd">
                    <div class="row row-wrap" data-gutter="60">
                        <div class="col-md-8">
                            <div class="txt-cntr-pd">
                                <div class="visible-lg">
                                    <h3 class="mb15">Welcome to Travel 2 Plan</h3>
                                    <div class="col-xs-12 nopad">
                                        <h5>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book.
                                        </h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="login_f">
                                <h3 class="mb15">Login</h3>
                                <form [formGroup]="loginForm">
                                    <div class="form-group form-group-ghost form-group-icon-left">
                                        <!-- <i class="fa fa-user input-icon input-icon-show"></i> -->
                                        <label>Username or email</label>
                                        <input formControlName="email" class="form-control"
                                               placeholder="e.g. johndoe@gmail.com" type="text"/>
                                        <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
                                             class="text-danger">
                                            <div class="invalid-feedback"
                                                 *ngIf="loginForm.controls['email'].errors.required">
                                                Email is required.
                                            </div>
                                            <div *ngIf="loginForm.controls['email'].errors.pattern">
                                                Email Id invalid
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-ghost form-group-icon-left">
                                        <!-- <i class="fa fa-lock input-icon input-icon-show"></i> -->
                                        <label>Password</label>
                                        <input formControlName="password" class="form-control" type="password"
                                               placeholder="my secret password"/>
                                        <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                                             class="text-danger">
                                            <div *ngIf="loginForm.controls['password'].errors.required">
                                                Password is required.
                                            </div>
                                            <div *ngIf="loginForm.controls['password'].errors.minlength">
                                                minlength should Six
                                            </div>
                                        </div>
                                    </div>
                                    <input [disabled]="loginForm.pristine || loginForm.invalid" type="submit" (click)="Login()" class="btn btn-primary btn100" value="Sign in">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
