<div class="tbnew">
    <h1>Dashboard</h1>
    <ul class="listn">
        <li><i class="fa fa-plane icn"></i>
            <h5>{{flightBookingsCnt}}</h5>
            <p>Flight Bookings</p>
        </li>
        <li><i class="fa fa-hotel icn"></i>
            <h5>{{hotelBookingsCnt}}</h5>
            <p>Hotel Bookings</p>
        </li>
        <li><i class="fa fa-building-o icn"></i>
            <h5>{{tourBookings}}</h5>
            <p>Tour Bookings</p>
        </li>
        <li><i class="fa fa-car icn"></i>
            <h5>{{transferBookings}}</h5>
            <p>Transfer Bookings</p>
        </li>
        <li><i class="fa fa-building-o icn"></i>
            <h5>{{holidayBookings}}</h5>
            <p>Holiday Bookings</p>
        </li>
    </ul>
</div>


