<div style="background-color:#f4f4f4">
    <table bgcolor="#fff" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td align="center">
                <table bgcolor="#fff" width="800" border="0" cellspacing="0" cellpadding="0"
                       style="box-shadow:0 0 5px #ccc;background:#fff">
                    <tbody>
                    <tr>
                        <td align="center" style="background: #fff" bgcolor="#fff">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td height="10" style="height:10px;"></td>
                                </tr>
                                <tr>
                                    <td width="15"></td>
                                    <td>
                                        <table width="100%" valign="top" align="center" width="" border="0"
                                               cellspacing="0"
                                               cellpadding="0" align="left" class="Fullscreen m0">
                                            <tbody>
                                            <tr>
                                                <td style="text-align:right;">
                                                    <img src="http://192.168.1.12/travel2plan/assets/travel_theme/img/logo.png"
                                                         class="m0" style="width:200px"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table></table>
                                        <table width="480" valign="middle" width="" border="0" cellspacing="0"
                                               cellpadding="0" align="left" class="Fullscreen m0"
                                               style="vertical-align:middle">
                                            <tbody>
                                            <tr>
                                                <td height="8"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="15"></td>
                                </tr>
                                <tr>
                                    <td width="35"></td>
                                    <td><p style="font-size:18px;font-family:Arial;color:#255691;">Itinerary /
                                        Receipt</p>
                                    </td>
                                    <td width="35"></td>
                                </tr>
                                <tr>
                                    <td height="15"></td>
                                </tr>
                                <tr>
                                    <td width="35"></td>
                                    <td><span style="font-size:12px;font-family:Arial;color:#444;">Your Booking is . Thanks you for choosing travel2plan</span>
                                    </td>
                                    <td width="35"></td>
                                </tr>
                                <tr>
                                    <td height="4"></td>
                                </tr>
                                <tr>
                                    <td width="35"></td>
                                    <td><b style="font-size:12px;font-family:Arial;color:#444;">Please bring your
                                        itinerary-receipt to the hotel while checkin</b></td>
                                    <td width="35"></td>
                                </tr>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <tr>
                                    <td width="35"></td>
                                    <td>
                                        <table width="100%" valign="top" align="center" width="" border="0"
                                               cellspacing="0"
                                               cellpadding="0" align="left" class="Fullscreen m0">
                                            <tbody>
                                            <tr>
                                                <td align="left"><b
                                                        style="color:#2f4e9e;font-size:14px;font-family:Arial;">Main
                                                    Contact Information</b></td>
                                                <td align="right"><b
                                                        style="color:#444;font-size:14px;font-family:Arial;">Booking
                                                    Reference : <span style="color:#255691;"> </span></b></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="35"></td>
                                </tr>
                                <tr>
                                    <td height="5"></td>
                                </tr>
                                <tr>
                                    <td width="35"></td>
                                    <td style="border-bottom:1px solid #000;"></td>
                                    <td width="35"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td height="10"></td>
                    </tr>

                    <tr>
                        <td>
                            <table width="100%" valign="top" align="center" width="" border="0" cellspacing="0"
                                   cellpadding="0" align="left" class="Fullscreen m0">
                                <tbody>
                                <tr>
                                    <td width="35"></td>
                                    <td width="420">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Booking ID:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            <tr>
                                                <td height="7"></td>
                                            </tr>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Booking Status:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            <tr>
                                                <td height="7"></td>
                                            </tr>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Booking Reference No:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            <tr>
                                                <td height="7"></td>
                                            </tr>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Reservation Id:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            <tr>
                                                <td height="7"></td>
                                            </tr>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Booking amount:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;">120.99 USD</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="7"></td>
                                            </tr>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Payment status:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;">SUCCESS</span></td>
                                            </tr>
                                            <tr>
                                                <td height="7"></td>
                                            </tr>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Transaction Number:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span
                                                        style="font-size:12px;font-family:Arial;">TX20190228114055717</span>
                                                </td>
                                            </tr>
                                            <td height="7"></td>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Phone Number:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;">9126535151</span>
                                                </td>
                                            </tr>
                                            <td height="7"></td>
                                            <!--          <tr>
                                                        <td><span style="font-size:13px;font-family:Arial;font-weight:600">Country Of Passport:</span></td>
                                                        <td width="20"></td>
                                                        <td><span style="font-size:12px;font-family:Arial;">India</span></td>
                                                    </tr> -->
                                            <td height="7"></td>
                                            <tr>
                                                <td><span
                                                        style="font-size:13px;font-family:Arial;font-weight:600">Hotel:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            <td height="7"></td>
                                            <tr>
                                                <td><span
                                                        style="font-size:13px;font-family:Arial;font-weight:600">Address:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;">,</span></td>
                                            </tr>
                                            <td height="7"></td>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Hotel Contact Number:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            <td height="7"></td>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Hotel Fax:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            <td height="7"></td>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;font-weight:600">Hotel Website:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span style="font-size:12px;font-family:Arial;"></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0" align="left"
                                               style="padding:10px;background:#ddd;width:100%">
                                            <tbody>
                                            <td height="7"></td>
                                            <tr>
                                                <td width="200"><span
                                                        style="font-size:13px;font-family:Arial;font-weight:600">Billing Name:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td align="center"><span style="font-size:12px;font-family:Arial;">Mr.dfbvfb dsvfdb</span>
                                                </td>
                                            </tr>
                                            <td height="7"></td>
                                            <tr>
                                                <td width="200"><span
                                                        style="font-size:13px;font-family:Arial;font-weight:600">Billing Email:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td align="center"><span style="font-size:12px;font-family:Arial;">sivakumar.g@smtech-solutions.com</span>
                                                </td>
                                            </tr>

                                            <td height="7"></td>
                                            <tr>
                                                <td width="200"><span
                                                        style="font-size:13px;font-family:Arial;font-weight:600">Billing Contact Number:</span>
                                                </td>
                                                <td width="20"></td>
                                                <td align="center"><span style="font-size:12px;font-family:Arial;"> 9126535151</span>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>

                                    <td width="35"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="10"></td>
                    </tr>
                    <tr>

                        <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td width="35"></td>
                                    <td><span style="font-size:14px;font-family:Arial;"> </span></td>
                                    <td width="35"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td height="10"></td>
                    </tr>

                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="35"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                               style="border:1px solid #ddd;padding:15px;">
                                            <tbody>

                                            <tr>
                                                <td><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;">Check In :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="240"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;">Apr 11,2019</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;">Check Out :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="240"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;">Apr 12,2019</span>
                                                </td>
                                                <td width="20"></td>

                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>

                                            <tr>
                                                <td width="180"><span
                                                        style="font-size:15px;font-weight:600;color:#000;font-family:Arial;">Room Details:</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <tr>
                                                <td><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;">Room No. :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;">1</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="180"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;">Room Name :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="240"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;"></span>
                                                </td>
                                                <td width="20"></td>

                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <tr>
                                                <td><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;">Inclusion. :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;"></span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="160"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;">No.Of Adult :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="200"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;">0</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="160"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;">No.Of Child :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width="200"><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;">0</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <tr>
                                                <td><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;">Passengers :</span>
                                                </td>
                                                <td width="20"></td>
                                                <td width=""><span
                                                        style="font-size: 14px;font-family:Arial;color:#666;font-weight:600;"> (Adult)                           </span>
                                                </td>


                                            </tr>

                                            <tr>
                                                <td height="10"></td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </td>


                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td height="10"></td>
                    </tr>

                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td width="35"></td>
                                    <td><span style="font-size:15px;font-weight:600;color:#000;font-family:Arial;">Cancellation Policies :</span>
                                    </td>
                                    <td width="35"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td width="35"></td>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td><span
                                                        style="width:100%;font-size:14px;font-family:Arial;"><b>Room 1 :</b> This reservation can be canceled without penalties until 08/04/2019<br>From 09/04/2019 To 11/04/2019: 17.00 EUR<br>Date and time is calculated based on local time of destination
                                                In the event of a no show or early checkout then a charge of up to 100% of the entire cost of the booking may be applied.<br></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                            <tr>
                                                <td><span
                                                        style="width:100%;font-size:14px;font-family:Arial;"><b>Room 2 :</b> This reservation can be canceled without penalties until 08/04/2019<br>From 09/04/2019 To 11/04/2019: 17.00 EUR<br>Date and time is calculated based on local time of destination
                                                In the event of a no show or early checkout then a charge of up to 100% of the entire cost of the booking may be applied.<br></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="35"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="30"></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td width="35"></td>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="right">
                                            <tbody>
                                            <tr>
                                                <td align="right"><b
                                                        style="font-size:13px;font-family:Arial;text-align:right;">Call
                                                    our
                                                    Customer Services Center 24/7</b></td>
                                            </tr>
                                            <tr>
                                                <td height="7"></td>
                                            </tr>
                                            <tr>
                                                <td><span style="font-size:13px;font-family:Arial;text-align:right;">NOVEL TECH PARK, HOSUR RD, KUDLU GATE, BANGALORE, KARNATAKA - INDIA </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="35"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="10"></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="10" cellspacing="0" class="tbbd">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table width="90%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                           class="Fullscreen">
                                                        <tr>
                                                            <td colspan="4" bgcolor="ffffff"
                                                                style="font-size:14px;font-family:Arial;line-height:1.2em;padding-top: 10px; padding-right:10px;padding-bottom:0px; text-align: center; background-color: #ffffff;vertical-align:middle; color:#111111 !important;"
                                                                class="unable-to-view">
                                                                Merkez Mahallesi
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" bgcolor="ffffff"
                                                                style="font-size:14px;;font-family:Arial;line-height:1.2em;padding-top: 10px;padding-bottom:0px; text-align: center; background-color: #ffffff; color:#111111 !important;"
                                                                class="unable-to-view">
                                                                Abide-i Hürriyet Cd No: 145, 34381 Şişli/İstanbul,
                                                                Turkey
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td bgcolor="ffffff"
                                                                style="font-size:14px;;font-family:Arial;line-height:1.2em;padding-top: 10px;padding-bottom:10px; text-align: center; background-color: #ffffff; color:#111111 !important;"
                                                                class="unable-to-view">
                                                                Web: www.intraturkey.com
                                                            </td>
                                                            <td bgcolor="ffffff"
                                                                style="font-size:14px;;font-family:Arial;line-height:1.2em;padding-top: 10px;padding-bottom:10px; text-align: center; background-color: #ffffff; color:#111111 !important;"
                                                                class="unable-to-view">
                                                                Email: travel@intraturkey.com
                                                            </td>
                                                            <td bgcolor="ffffff"
                                                                style="font-size:14px;;font-family:Arial;line-height:1.2em;padding-top: 10px;padding-bottom:10px; text-align: center; background-color: #ffffff; color:#111111 !important;"
                                                                class="unable-to-view">
                                                                +90 212 225 04 37
                                                            </td>
                                                            <td bgcolor="ffffff"
                                                                style="font-size:14px;;font-family:Arial;line-height:1.2em;padding-top: 10px;padding-bottom:10px; text-align: center; background-color: #ffffff; color:#111111 !important;"
                                                                class="unable-to-view">
                                                                +90 212 225 04 37
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
