
.dashboard{
	width:100%;
	float:left;
	margin:0px 0px;
    padding:30px 0px; 
    background-color:#f4f4f4;    
}
h1 {
   
    margin-bottom: 20px;
}

.slide{
    width: 100%;
    float: left;
    border: solid 1px #262626;
    background: #4d4d4d;
    border-radius: 6px; 
}
.slide ul{
margin:0px 0px;
padding:0px 0px;  	
}
.slide ul li{
	display:block;
	width:100%;  
    float: left;
margin:0px 0px;
padding:0px 0px;
border-top:1px solid #404040 !important;   	
/*border-bottom: 1px solid #404040;*/   	
}
.slide ul li.active{
    background-color:#af2020; 
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
 background-color:#af2020;   
}

.slide ul li a{
	width:100%;  
	float:left; 
	color:#fff !important; 
margin:0px 0px;
padding:10px 15px;  	
text-decoration: none;
}
.slide ul li a:hover, .slide ul li a.active{
	background:#af2020; 
}
.slide .fa{
    margin-right: 7px;
    display: inline-block;
    width:20px;

    }
    .userpfl{
    	width:100%;
    	float:left;  
    }
     .userpfl h6{
     	text-align:center;
     	color:#fff;
     	font-size:20px;
     	font-weight:300;    
     }
     .logo{
     	width:100%;
     	text-align:center;  
     }
     .tbnew{
     	width:100%;
     	float:left; 
        background: #fff;
        padding: 15px; 
     }
      .tbnew h1{
      	font-size:30px;
      	font-weight:300; 
      }
      ul.listn{
      	margin:0px 0px;
      	padding:0px 0px;
      	list-style: none;  
      }
        ul.listn li{

    margin-right: 20px;
    text-align: center;
    padding: 20px;
    float:left; 
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 143px;

}
/*ul.listn li:hover {
	background:#231f20; 
}
ul.listn li:hover .icn{
	color: #fff;
}*/
 .icn{
    font-size: 70px;
    display: inline-block;
    margin-bottom: 10px;
    color: #8c8c8c;
}

 ul.listn li h5{
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1em;
    margin-bottom: 3px;
    color: #af2020;
}
ul.listn li p{
      margin-bottom: 0;
    line-height: 1em;
    font-size: 12px;
}
/******** check box ***********/

.chk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size:12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height:25px;
    color:#333;  
}
.form-group {
    position: relative;
   
}
.form-control{
	 border-radius:0px;
}
.form-group.form-group-icon-left .form-control {
    padding-left: 32px;
}
.form-group .input-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    /*line-height: 32px;*/
    display: block;
    top:35px;
    left: 1px;
    text-align: center;
    color: #b3b3b3;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
}
.bt_n {
    padding: 9px 19px;
    color: #fff !important;
    border-radius: 6px;
    float: left;
    margin-bottom: 25px;
    background: #DC2D2D;
    text-decoration: none;
    outline:none;
    border:none;
    cursor:pointer;   
}
.spttckt{
	width:100%;
	float: left;
	/*padding:15px; 
	box-shadow:0 0 5px #ccc;  */
}
.spttckt ul{
margin:0px 0px;
padding:7px 0px;
background:#4d4d4d;   
}
.spttckt ul li{
margin:0px 0px;
padding:0px 0px;  
list-style: none;
}
.spttckt ul li a{
margin:0px 0px;
padding:7px 15px; 
color:#fff;  
text-decoration: none;
}
.spttckt ul li a:hover, .spttckt ul li a.active{
	background:#af2020; 
}
.table-responsive{
	padding:20px 0px; 
}
.mt15{
	margin-top:15px; 
}
.tbl_m{
	width:100%;
	float:left;  
}
.tbl_m td, .tbl_m th{
	padding:8px; 
	font-size:13px; 
	text-align:center; 

}
.tbl_m td .icfa{
    display: block;
    font-size: 25px;
    color: #626262;
    margin-bottom: 2px;
    text-align:center; 

}
a.actn{
	color:#FF1D13;
	padding:3px;  
}
h5.fltrm{
width:100%;
background:#4d4d4d;
padding:10px 7px; 
color:#fff;
font-weight:300;
border-radius:4px;   
cursor:pointer;    
}

.btn-primary {
    background: #DC2D2D !important;
    border-color: #DC2D2D !important;
}
.blns{
	width:100%;
	float:left;
	margin-top:20px;   
}
/* Hide the browser's default checkbox */
.chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
  /*background-color: #fff;*/
    border:solid 1px #ced4da; 
}

/* On mouse-over, add a grey background color */
.chk:hover input ~ .checkmark {
    background-color: #DC2D2D;
}

/* When the checkbox is checked, add a blue background */
.chk input:checked ~ .checkmark {
    background-color: #DC2D2D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chk input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chk .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-info{
background-color:#DC2D2D;
border-color:#DC2D2D;
}
.card.hovercard {
    position: relative;
    overflow: visible;
    text-align: center;
    background-color: #fff;
    padding: 30px 0px;
    margin: 0px 0px 40px 0px;
    border: solid 1px #ccc;
}
.title h4 i {
    font-size: 60px;
}
.card.hovercard a {
    color: #666;
}

	/******** check box end *********/