<app-header></app-header>
<div class="dashboard">
	<div class="container">
		<div class="col-md-3">
			<app-b2bsidebar></app-b2bsidebar>
		</div>
		<div class="col-md-9">
			<div class="tbnew">
				<h1>Markup Settings</h1>
				<div class="tbl_m">          
					<div class="row row-wrap">
						<div class="col-md-4">
							<h4>Generic Markup</h4>
							<div class="card hovercard">
								
								<div class="info">
									<div class="title">
										<h4><i class="fa fa-money"></i></h4>
										<!-- <a target="_blank" href="http://192.168.1.12/travel2plan/dashboard/generic_markup">Generic Markup</a> -->
									</div>
							<!-- <div class="desc"><b>Add and update Generic Mark up to your account</b></div>
								<div class="desc">View your Generic markup account</div> -->
							</div>
							<div class="bottom">
								<a routerLink="/genericmarkup">Go To Generic mark up</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<h4>Country Markup</h4>
						<div class="card hovercard">
							
							<div class="info">
								<div class="title">
									<h4><i class="fa fa-map"></i></h4>
									<!-- <a target="_blank" href="http://192.168.1.12/travel2plan/dashboard/country_markup">Country Markup  </a> -->
								</div>
						<!-- <div class="desc"><b>Add and update Country Mark up to your account</b></div>
							<div class="desc">View your Country markup account</div> -->
						</div>
						<div class="bottom">
							<a routerLink="/countrymarkup">Go To Country mark up</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h4>Specific Markup</h4>
					<div class="card hovercard">
						
						<div class="info">
							<div class="title">
								<h4><i class="fa fa-id-badge"></i></h4>
								<!-- <a target="_blank" href="http://192.168.1.12/travel2plan/dashboard/specific_markup">Specific Markup</a> -->
							</div>
					<!-- <div class="desc"><b>Add and update Specific Mark up to your account</b></div>
						<div class="desc">View your Specific markup account</div> -->
					</div>
					<div class="bottom">
						<a routerLink="/specificmarkup"> Go To Specific mark up</a>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

</div>
</div>
</div>

<app-footer></app-footer>